.skills_img {
    height: 650px;
    background-image: url('https://portofolio-opal-alpha.vercel.app/static/media/color-sharp.bea361cfef80fefc2d1e.png');
    background-color: black;
}

.skills_container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    position: absolute;
    margin-top: -70px;
    left: 20%;
    height: 500px;
    width: 850px;
    background-color: rgb(30, 30, 30);
    border-radius: 80px;
}

.skills_title{
    color: white;
    margin: 15px;
    font-size: 40px;
}

.skills_studies {
    color: white;
    font-size: 20px;
    color: rgb(211, 208, 208);
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.skills_list_container {
    display: flex;
    flex-direction: row;
}


.skills_list img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
}

.skills_list h5 {
    color: white;
    text-align: center;
    font-size: 18px;
}