.main {
  width: 100%;
  /* background-image: url('https://w0.peakpx.com/wallpaper/164/343/HD-wallpaper-sci-fi-black-hole-kurzgesagt-minimalist.jpg'); */
  
}
/* .img {
  background-image: url('https://w0.peakpx.com/wallpaper/164/343/HD-wallpaper-sci-fi-black-hole-kurzgesagt-minimalist.jpg');
  
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
